management :
   endpoints:
      web:
         exposure:
            include:  '*'
   endpoint:
     health:
        show-details : always
no.nav:
    security:
        jwt:
            client:
                registration:
                    fpinfo:
                        well-known-url: ${token.x.well.known.url}
                        grant-type: urn:ietf:params:oauth:grant-type:token-exchange
                        authentication:
                            client-id: ${token.x.client.id}
                            client-jwk: ${token.x.private.jwk}
                            client-auth-method: private_key_jwt
                        token-exchange:
                            audience: dev-fss:teamforeldrepenger:fpinfo
            issuer:
                selvbetjening:
                    discoveryurl: ${loginservice.idporten.discovery.url}
                    accepted_audience: ${loginservice.idporten.audience}
                    cookie_name: selvbetjening-idtoken
spring:
   config.import: vault://
   cloud:
      vault:
         reactive:
           enabled: false
         enabled: true
         uri: https://vault.adeo.no
         authentication: KUBERNETES
         kubernetes:
            role: fpsoknad-mottak
            kubernetes-path: kubernetes/preprod/fss
            service-account-token-file: /var/run/secrets/kubernetes.io/serviceaccount/token
         kv:
            enabled: true
            backend: kv/preprod/fss
            application-name: fpsoknad-mottak/teamforeldrepenger
            default-context: fpsoknad-mottak/teamforeldrepenger
   codec:
     log-request-details: true
   kafka:
       consumer:
         bootstrap-servers: b27apvl00045.preprod.local:8443,b27apvl00046.preprod.local:8443,b27apvl00046.preprod.local:8443
       producer:
         bootstrap-servers: b27apvl00045.preprod.local:8443,b27apvl00046.preprod.local:8443,b27apvl00046.preprod.local:8443
   mvc:
     log-request-details : true

arbeidsforhold:
  base-uri: https://modapp-q1.adeo.no/aareg-services/api
organisasjon:
  base-uri: https://modapp-q1.adeo.no/ereg/api
sts:
  base-uri: https://security-token-service.nais.preprod.local
varsel:
  uri: mq://b27apvl176.preprod.local:1413/MQ1LSC02
  channelname: Q1_FPSOKNAD_VARSEL
  queue-name: QA.Q1_VARSELPRODUKSJON.SEND_VARSEL

sak:
  saker:
     url: https://sak-q1.nais.preprod.local/api/v1/saker

securitytokenservice:
    url: https://sts-q1.preprod.local/SecurityTokenServiceProvider/


