management :
   endpoints.web.exposure.include:  '*'
   endpoint: 
     health.show-details : always
     security.enabled : false
spring.http.log-request-details : true
engangs.destinasjon : FPFORDEL
       