name: Promote
on:
  repository_dispatch:
    types: [promote-command]

jobs:
  promote-dev:
    name: Deploy dev
    if: contains(github.event.client_payload.slash_command.args.unnamed.all, 'dev')
    uses: navikt/fp-gha-workflows/.github/workflows/deploy-app.yml@rydding
    with:
      issue-number: ${{ github.event.client_payload.github.payload.issue.number }}
      environment: dev
      platform: fss
    secrets: inherit

  promote-prod:
    name: Deploy prod
    needs: promote-dev
    if: |
      contains(github.event.client_payload.slash_command.args.unnamed.all, 'prod') &&
      (needs.promote-dev.result == 'success' || needs.promote-dev.result == 'skipped')
    uses: navikt/fp-gha-workflows/.github/workflows/deploy-app.yml@rydding
    with:
      issue-number: ${{ github.event.client_payload.github.payload.issue.number }}
      environment: prod
      platform: fss
    secrets: inherit
